/* *********** */
/* Controls    */
/* *********** */

.storage-control {
background: none no-repeat scroll center center #F8F8F9;
border-radius: 4px;
border: 1px solid #bbb;
}
.storage-control a {
background-position: 50% 50%;
background-repeat: no-repeat;
display: block;
height: 36px;
width: 36px;
line-height: 36px;
background-image: url("images/24.png");
}
.leaflet-control-embed,
.leaflet-control-tilelayers,
.leaflet-control-home,
.leaflet-control-locate,
.leaflet-control-search,
.leaflet-control-edit-in-osm,
.storage-measure-control,
a.storage-control-less {
display: block;
}
.storage-more-controls .leaflet-control-embed,
.storage-more-controls .leaflet-control-tilelayers,
.storage-more-controls .leaflet-control-home,
.storage-more-controls .leaflet-control-locate,
.storage-more-controls .leaflet-control-search,
.storage-more-controls .leaflet-control-edit-in-osm,
.storage-more-controls .storage-measure-control,
.storage-more-controls .storage-control-less {
display: block;
}
.storage-more-controls .storage-control-more {
display: none;
}
.leaflet-control-embed a {
background-position: -82px -122px;
}
.leaflet-control-tilelayers a {
background-position: -82px -2px;
}
.leaflet-control-home a {
background-position: -122px -82px;
}
.leaflet-control-locate a {
background-position: -2px -122px;
}
.leaflet-control-search a {
background-position: -42px -122px;
display: inline-block;
}
.leaflet-control-search a.loading {
background-image: url("images/search.gif");
}
.leaflet-control-search input {
display: none;
height: 30px;
}
.leaflet-control-search form {
display: inline;
}
.leaflet-control-search input:focus, div.leaflet-control-search:hover input {
display: inline-block;
margin-right: 5px;
}
a.storage-control-text {
float: right;
margin: 0;
width: 36px;
height: 23px;
line-height: 23px;
border: 1px solid #444;
border-radius: 2px;
background-color: #666;
color: #f8f8f8;
text-align: center;
font-size: 0.8em;
}
.leaflet-control-edit-enable a {
background-image: url(images/24.png);
background-position: -1px -1px;
}

/* 地图缩放工具栏 */
.leaflet-control-zoom-display {
width: 36px;
height: 36px;
left: 3px;
text-align: center;
font: bold 12px/20px Tahoma, Verdana, sans-serif;
padding-top: 0.3em;
}


.leaflet-control-draw-measure {
width: 36px;
height: 36px;
left: 3px;
text-align: center;
}

/** easyPrint **/
.leaflet-control-easyPrint a {
background:#fff url(images/print.png) no-repeat 5px;
background-size:16px 16px;
display: block;
}
._epHidden{display:none!important;}
@media print {
html {padding: 0px!important;}
.leaflet-control-easyPrint-button{display: none!important;}
}
