/*
    COLOR SCHEME
    dark:       #2C3E50;
    light:      #2f4353;
    red:        #E74C3C;
    white:      #ECF0F1;
    lightBlue:  #3498DB; 
    blue:       #2980B9;

*/
body {
    background: #2f4353;
    padding:0; margin:0;
    color:white;
    height:100%;
}
#sideMenu {
    font-family: 'Oswald', sans-serif;
    background: #2C3E50;
    width:30%; height:100%;
    float:left;
}
#sideMenu h1 {
    margin-left:1%;
    padding-top:3%;
    font-weight:400; 
    text-transform: uppercase;
}
#main {
    font-family: 'Quattrocento', serif;
    font-weight:400;
    width:70%; height:100%;
    float:left;
}
.graph {
    width:30%;
    padding:10px;
    float:left;
    background:rgba(139, 139, 139, 0.03);
}
#fullWidth {
    width:100%;
    margin:0 auto;
}
#fullWidth #map {
    width:100%; 
    min-height:600px;
}
#list {
    list-style-type:none;
    margin:0; padding:1%;
}
#list li {
    padding:30px;
    transition:all 0.2s ease;
}

#list li:nth-child(even) {
    background:#2f4353;
}
#list li:hover {
    cursor:pointer;
    background:#2980B9;
}
.active {
    padding-left:10% !important;
    background:#2980B9 !important;
}
.leaflet-popup{
     color:#2C3E50;   
}
