.map-pause{
    background:url('../img/mapimages/pause.png') no-repeat center center;
}
.map-stop{
    background:url('../img/mapimages/stop.png') no-repeat center center;
}
.map-showresults{
    background:url('../img/mapimages/show-results.png') no-repeat center center;
}
.map-save{
    background:url('../img/mapimages/save.png') no-repeat center center;
}
.map-run{
    background:url('../img/mapimages/run.png') no-repeat center center;
}
